*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;}
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/* NAVIGATION */
header {
    background: white;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #2ecc71;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9rem;}
    .main {
        width: 1600px;
        height: 674px;
    background: linear-gradient(rgba(11, 17, 32, 0.171), rgba(11, 17, 32, 0.404)), 
                url('B13-A01-Knowledge-Vault/assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.main h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.colorful {
    color:#30B868;
}

.main-btns {
    margin-top: 30px;}
    .btn {
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    /* transition: 0.3s; */
}

.btn-primary {
    background: #30B868;
    color: white;
    
}
 .right{
    width: 20px;
    height: 20px;
}

.btn-outline {
    background: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 10px;}
    .features {
    padding: 80px 0;
    text-align: center;
}

.section-header { margin-bottom: 50px; }

.feature-note {
    gap: 24px;
    display: flex;
    border-radius: 20px;
}

.feature-card {
    padding: 20px;
    transition: 0.3s;
    
}

.icon{
    width: 32x;
    height: 32px;
    background: #ffeded;
    border-radius: 50%;
    margin: 0 auto 15px;
    border: 2px solid #e74c3c; 
    background-color: #F95555
}
.second-brain {
    padding: 80px 0;
}

.brain-content {
    display: flex;
    align-items: center;
    gap: 50px;}

.placeholder-img {
    height: 300px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.check-list {
    list-style: none;
    margin-top: 20px;
}

.check-list li {
    margin-bottom: 10px;
    color: #555;}
    .cta {
    padding-bottom: 80px;
}

.ready-box {
    background: #f9fbfd;
    padding: 60px;
    text-align: center;
    border-radius: 15px;
}
footer {
    background: #0b1120;
    color: #999;
    padding: 40px 0;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    gap: 80;
}
.center{
    text-align: center;
}









